h2 {
    font-size: 2.5rem;
}

.message {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
}

.grid-cell-start, .grid-cell-update {
    text-align: center;
    padding: 1rem;
}

.grid-cell-start p {
    margin-bottom: 3rem;
}

.grid-cell-update p {
    margin-bottom: 1rem;
}

.start-button, .start-button:link, .start-button:visited, .start-button:hover, .start-button:active {
    border: 0;
    border-radius: 8px;
    background-color: #a0c265;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding: 0.5rem 2rem;
    text-decoration: none;
}