.add {
    background-color: transparent;
    border: none;
    color: #acacac;
    cursor: pointer;
    float: right;
}

.add:hover {
    color: #333333;
}

.popup-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    overflow: auto;
}

.popup {
    background-color: white;
    padding: 0 1em 1em 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.popup fieldset {
    border: none;
}

.popup legend {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.popup input {
    margin-bottom: 0.5em;
}

.close {
    background-color: transparent;
    border: none;
    color: #acacac;
    cursor: pointer;
    font-size: 2em;
}

.close:hover {
    color: #333333;
}

.save {
    background-color: transparent;
    border: none;
    color: #a0c265;
    cursor: pointer;
}

.close:hover {
    color: #333333;
}

.no-incomes-hint {
    text-align: center;
}

.no-incomes-hint a {
    color: CornflowerBlue;
    cursor: pointer;
}